{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  <div {{ header_attributes }}>
    {{ content.field_featured_media }}
  </div>

  <div {{ meta_attributes }}>
    <div class="node-meta__wrapper">
      <div class="node-meta__item">
        <div class="field--title">Date</div>
        <div class="field--item">{{ node.getCreatedTime()|format_date('html_date') }}</div>
      </div>

      {{ content.field_material }}
      {{ content.field_mechanics }}
      {{ content.field_finish }}

    </div>
  </div>

  <div{{ content_attributes }}>
    {{ content.field_content }}

    {% if content.series %}
    <div class="project-series">
      <h2 class="f-title--h5">Series</h2>
      {{ content.series }}
    </div>
    {% endif %}
  </div>

  <div class="node-admin">
    <h2 class="f-title--h5">Admin</h2>

    <div class="admin--attrs">
      <div class="admin--sale-price">{{ content.admin.sale_price }}</div>
      <div class="admin--owner">{{ content.admin.owner }}</div>
    </div>
    <div class="admin--cost-table">{{ content.admin.table }} </div>
  </div>

</article>
