{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}


      {% if data.image_data %}
        <ul class="c-image-gallery__list">
          {% for img in data.image_data %}
            <li class="{{ img.class }}">{{ img.entity }}</li>
          {% endfor %}
        </ul>
        {{ content|without('field_media') }}
      {% else %}
        {{ content }}
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
